<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googamaphone.xternaldisplay"
    android:versionCode="10"
    android:versionName="1.2.2" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="com.googlecode.xternaldisplay.MANAGE_DISPLAY" />

    <permission
        android:name="com.googlecode.xternaldisplay.MANAGE_DISPLAY"
        android:label="@string/permission_manage" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".XternalDisplay"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ConnectionService"
            android:permission="com.googlecode.xternaldisplay.MANAGE_DISPLAY" >
            <intent-filter>
                <action android:name="com.googamaphone.xternaldisplay.CONNECTION_SERVICE" />
            </intent-filter>
        </service>

        <uses-library
            android:name="com.motorola.android.iextdispservice"
            android:required="true" />
    </application>

</manifest>